@model CRS.CLUB.APPLICATION.Models.ClubManagement.ClubManagementModel

@{
    ViewBag.Title = "Club Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ClubImgModel = Model.ClubImage as CRS.CLUB.APPLICATION.Models.ClubManagement.AddClubImage;
    var _HosttData = Model.HostMgmt as CRS.CLUB.APPLICATION.Models.ClubManagement.HostManagement;
    var _EventData = Model.EventDetail as CRS.CLUB.APPLICATION.Models.ClubManagement.EventManagementModel;
    var yourDateFromDatabase = _EventData.EventDate;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<style>
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
    }
</style>
@Html.AntiForgeryToken()
<div class="flex flex-col gap-[32px] pb-4">
    <!-- booking information  -->
    <div class="title-info flex justify-between gap-[20px]">
        <div>
            <div class="heading-title">
                @CRS.CLUB.APPLICATION.Resources.Resource.Club_Management
            </div>
            <div class="span-title-light-gray">
                @CRS.CLUB.APPLICATION.Resources.Resource.Club_Management_Supporting_Texts
            </div>
        </div>
    </div>
    <div class="px-[32px]">
        <div class="flex gap-[24px]" style="border-bottom: 1px solid #f4f4f4;">
            <div class="flex tab-container-plane bg-white gap-[16px]">
                <button id="tab1Button" class="tab-button-plane tab-link ">
                    @CRS.CLUB.APPLICATION.Resources.Resource.Gallery_Management
                </button>
                <button id="tab2Button" class="tab-button-plane tab-link ">
                    @CRS.CLUB.APPLICATION.Resources.Resource.Host_Management
                </button>
                <button id="tab3Button" class="tab-button-plane tab-link ">
                    @CRS.CLUB.APPLICATION.Resources.Resource.Event_Management
                </button>
                <button id="tab4Button" class="tab-button-plane tab-link active">
                    @CRS.CLUB.APPLICATION.Resources.Resource.Schedule_Management
                </button>
            </div>
        </div>
    </div>
    <div class="px-[32px]">
        <div class="bg-white">
            <div id="tab1" class="tab-content-plane hidden">
                <div class="flex justify-between pb-[24px] ">
                    <form action="/ClubManagement/Index" method="get">
                        <div class="relative input-search-wrapper">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                    <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                          stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <input type="search"
                                   id="default-search"
                                   class="input-search block w-full"
                                   placeholder=" @CRS.CLUB.APPLICATION.Resources.Resource.Search"
                                   name="GallerySearchFilter" value="@ViewBag.GallerySearchText">
                        </div>
                    </form>
                    <div class="btn btn-primary gap-[8px]" data-drawer-target="add-new-gallery" data-drawer-show="add-new-gallery"
                         data-drawer-placement="right" data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop">
                        <img src="~/Content/assets/images/plus-circle-solid.svg" />
                        @CRS.CLUB.APPLICATION.Resources.Resource.Add_New
                    </div>
                </div>
                <div class="table-tab">
                    <div class="px-[16px] py-[12px] flex justify-between entry-export-container">
                        <div class="flex items-center select-entries" id="ShowEntries-Id">
                        </div>
                        <div class="export-button" id="gallery_id">
                            <img src="~/Content/assets/images/club/download-solid.svg" />  @CRS.CLUB.APPLICATION.Resources.Resource.Export
                        </div>
                    </div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full  text-left club-table">
                            <thead class="club-table-thead">
                                <tr>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            S.N
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Title
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Image
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Status
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>

                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Created_On
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Updated_On
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex justify-center">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Action
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.clubManagement as IEnumerable<CRS.CLUB.APPLICATION.Models.ClubManagement.clubManagement>)
                                {
                                    <tr class="bg-white border-b Row_">
                                        <td class="p-[12px]">
                                            @item.SNO
                                        </td>
                                        <td class="p-[12px]">
                                            @item.Title
                                        </td>
                                        <td class="p-[12px]">
                                            <img class="table-image h-[36px] w-[88px]" src="@item.ImagePath" />
                                        </td>
                                        <td class="p-[12px]">
                                            @if (!string.IsNullOrEmpty(item.Status) && item.Status.Trim().ToUpper() == "A")
                                            {
                                                <div class="approved inline-flex w-max">
                                                    @CRS.CLUB.APPLICATION.Resources.Resource.Active
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="rejected inline-flex w-max">
                                                    @CRS.CLUB.APPLICATION.Resources.Resource.Active
                                                </div>
                                            }
                                        </td>
                                        <td class="p-[12px]">
                                            @item.CreatedDate
                                        </td>
                                        <td class="p-[12px]">
                                            @item.CreatedDate
                                        </td>
                                        <td class="p-[12px]">
                                            <div class="flex gap-[7px] justify-center text-[16px] ">
                                                <div class="EditDetail" data-drawer-target="edit-gallery" data-drawer-show="edit-gallery"
                                                     data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop" id="">
                                                    <a href="/ClubManagement/EditClubManagement?AgentId=@item.AgentID&clubsno=@item.Sno">
                                                        <i class="fa-regular fa-pen-to-square text-[#989898] cursor-pointer"></i>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="/ClubManagement/DeleteClubManagement?AgentId=@item.AgentID&clubsno=@item.Sno"><i class="fa-solid fa-trash-can text-primary-100 cursor-pointer"></i></a>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-club">
                        <div class="show-entry" id="Entries-Id">
                        </div>
                        <div class="flex gap-[12px]">
                            <div class="btn btn-secondary-box-shadow" id="prev-btn">
                                @CRS.CLUB.APPLICATION.Resources.Resource.Previous
                            </div>
                            <div class="flex gap-[12px]" id="pagination-id">
                            </div>
                            <div class="btn btn-secondary-box-shadow" id="next-btn">
                                @CRS.CLUB.APPLICATION.Resources.Resource.Next
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-content-plane hidden ">
            <div class="flex justify-between pb-[24px]">
                <form action="/ClubManagement/Index" method="get">
                    <div class="relative input-search-wrapper">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                      stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <input type="search"
                               class="input-search block w-full"
                               placeholder=" @CRS.CLUB.APPLICATION.Resources.Resource.Search"
                               name="HostSearchFilter" value="@ViewBag.HostSearchText">
                    </div>
                </form>
                <div class="btn btn-primary gap-[8px]" data-drawer-target="add-new-host" data-drawer-show="add-new-host"
                     data-drawer-placement="right" data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop" id="addnew_host_modal">
                    <img src="~/Content/assets/images/plus-circle-solid.svg" />
                    @CRS.CLUB.APPLICATION.Resources.Resource.New_Host
                </div>
            </div>
            <div class="table-tab">
                <div class="px-[16px] py-[12px] flex justify-between entry-export-container">
                    <div class="flex items-center select-entries" id="ShowEntries-Id-2">
                    </div>
                    <div class="export-button" id="host_id">
                        <img src="~/Content/assets/images/club/download-solid.svg" />  @CRS.CLUB.APPLICATION.Resources.Resource.Export
                    </div>
                </div>
                <div class="relative overflow-x-auto">
                    <table class="w-full  text-left club-table">
                        <thead class="club-table-thead">
                            <tr>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        S.N
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.CLUB.APPLICATION.Resources.Resource.Host_Info
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.CLUB.APPLICATION.Resources.Resource.Date_of_Birth
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.CLUB.APPLICATION.Resources.Resource.Zodiac_Sign
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>

                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.CLUB.APPLICATION.Resources.Resource.Rank
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.CLUB.APPLICATION.Resources.Resource.No_of_Show
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                @*<th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Commission
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>*@
                                <th scope="col" class="p-[12px]">
                                    <div class="flex justify-center">
                                        @CRS.CLUB.APPLICATION.Resources.Resource.Action
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HostManagement as IEnumerable<CRS.CLUB.APPLICATION.Models.ClubManagement.HostManagement>)
                            {
                                <tr class="bg-white border-b ">
                                    <td class="p-[12px]">
                                        @item.SNO
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="round-image-text gap-[12px]">
                                            <img class="w-[32px] h-[32px] rounded-full" src="@item.ImagePath" />
                                            <div class="text-image">
                                                @item.HostName
                                                <p>@item.Email</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        @item.Age
                                    </td>
                                    <td class="p-[12px]">
                                        @item.ConstellationGroup
                                    </td>
                                    <td class="p-[12px]">
                                        @item.Rank
                                    </td>
                                    <td class="p-[12px]">
                                        @item.ActionUser
                                    </td>
                                    @*<td class="p-[12px]">
                                            ¥11,234
                                        </td>*@

                                    <td class="p-[12px]">
                                        <div class="flex gap-[7px] justify-center text-[16px] ">
                                            <a href="/ClubManagement/HostGalleryManagement?AgentId=@item.AgentID&HostId=@item.HostID"><i class="las la-image text-[#C8B477] text-[20px] mt-[1px] cursor-pointer"></i></a>
                                            <div class="EditHostDetail" data-drawer-target="edit-host" data-drawer-show="edit-host"
                                                 data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop" id="">
                                                <i class="fa-regular fa-pen-to-square text-[#989898] cursor-pointer" onclick="EditHost('@item.AgentID','@item.HostID')"></i>
                                            </div>
                                            <div>
                                                <a href="/ClubManagement/DeleteHostManagement?AgentId=@item.AgentID&HostId=@item.HostID"><i class="fa-solid fa-trash-can text-primary-100 cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="pagination-club">
                    <div class="show-entry" id="Entries-Id-2">
                    </div>
                    <div class="flex gap-[12px]">
                        <div class="btn btn-secondary-box-shadow" id="prev-btn-2">
                            @CRS.CLUB.APPLICATION.Resources.Resource.Previous
                        </div>
                        <div class="flex gap-[12px]" id="pagination-id-2">
                        </div>
                        <div class="btn btn-secondary-box-shadow" id="next-btn-2">
                            @CRS.CLUB.APPLICATION.Resources.Resource.Next
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab3" class="tab-content-plane hidden ">
            <div class="flex justify-between pb-[24px] ">
                <form action="/ClubManagement/Index" method="get">
                    <div class="relative input-search-wrapper">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                      stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <input type="search"
                               id="default-search"
                               class="input-search block w-full"
                               placeholder=" @CRS.CLUB.APPLICATION.Resources.Resource.Search"
                               name="SearchFilter" value="@ViewBag.SearchText">
                    </div>
                </form>
                <div class="btn btn-primary gap-[8px]" data-drawer-target="add-new-event" data-drawer-show="add-new-event"
                     data-drawer-placement="right" data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop" id="btn_add_new">
                    <img src="~/Content/assets/images/plus-circle-solid.svg" />
                    @CRS.CLUB.APPLICATION.Resources.Resource.New_Event
                </div>
            </div>
            <div class="table-tab">
                <div class="px-[16px] py-[12px] flex justify-between entry-export-container">
                    <div class="flex items-center select-entries" id="ShowEntries-Id-3">
                    </div>
                    <div class="export-button" id="event_id">
                        <img src="~/Content/assets/images/club/download-solid.svg" />
                        @CRS.CLUB.APPLICATION.Resources.Resource.Excel
                    </div>
                </div>
                <div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full  text-left club-table">
                            <thead class="club-table-thead">
                                <tr>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            S.N
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Date
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Event_Title
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Message
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="p-[12px]">
                                        <div class="flex justify-center">
                                            @CRS.CLUB.APPLICATION.Resources.Resource.Action
                                            <div class="relative pl-[5px]">
                                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EventManagement as IEnumerable<CRS.CLUB.APPLICATION.Models.ClubManagement.EventManagementModel>)
                                {
                                    <tr class="bg-white border-b ">
                                        <td class="p-[12px]">
                                            @item.SNO
                                        </td>
                                        <td class="p-[12px]">
                                            @item.EventDate
                                        </td>
                                        <td class="p-[12px]">
                                            @item.EventTitle
                                        </td>
                                        <td class="p-[12px]">
                                            @item.Message
                                        </td>
                                        <td class="p-[12px]">
                                            <div class="flex gap-[7px] justify-center text-[16px] ">
                                                <div class="EditEventDetail" data-drawer-target="edit-event" data-drawer-show="edit-event"
                                                     data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop" id="">
                                                    <i class="fa-regular fa-pen-to-square text-[#989898] cursor-pointer" onclick="EventEditForm('@item.AgentId','@item.EventId')"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-trash-can text-primary-100 cursor-pointer" onclick="DeleteEvent('@item.AgentId','@item.EventId')"></i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-club">
                        <div class="show-entry" id="Entries-Id-3">
                        </div>
                        <div class="flex gap-[12px]">
                            <div class="btn btn-secondary-box-shadow" id="prev-btn-3">
                                @CRS.CLUB.APPLICATION.Resources.Resource.Previous
                            </div>
                            <div class="flex gap-[12px]" id="pagination-id-3">
                            </div>
                            <div class="btn btn-secondary-box-shadow" id="next-btn-3">
                                @CRS.CLUB.APPLICATION.Resources.Resource.Next
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab4" class="tab-content-plane ">
            @Html.Partial("_ScheduleManagement")
        </div>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content  max-h-full px-[31px] py-[24px]">
            <div class="relative h-full py-[24px] w-[334px] px-[31px] bg-white rounded-lg shadow ">
                <!-- Modal header -->
                <div class="flex items-start justify-between py-4 ">
                    <h3 class="text-small font-medium text-[#444] ">
                        @CRS.CLUB.APPLICATION.Resources.Resource.Schedule_Status
                    </h3>
                    <button type="button" onclick="closeModal('modal1')" class="text-secondary-200 bg-transparent hover:text-secondary-100 hover:text-gray-900 ">
                        <i class="las la-times"></i>
                    </button>
                </div>
                <input hidden id="schedule-value-id" value="" />
                <!-- Modal body -->
                <div class="select-time-container">
                    <input type="text" class="hidden" name="date" />

                    <div id="toggle" class="text-black display-page cursor-pointer ">
                        <div id="setvalue"> @CRS.CLUB.APPLICATION.Resources.Resource.Select</div>
                        <div class="display-page-arrow">
                            <b></b>
                        </div>
                    </div>
                    <div class="toggleDivTime" id="toggleDivTime">
                        @foreach (var item in ViewBag.ClubScheduleDDL as IEnumerable<SelectListItem>)
                        {
                            if (item.Text == "---選択---" || item.Text.Trim().ToLower() == "--- select ---")
                            {

                            }
                            else
                            {
                                var imgSRC = "/Content/assets/images/" + @item.Text + ".svg";
                                <div class="flex items-center checkbox-common gap-4 py-[8px] px-[16px]" onclick="MyScheduleFunction('@item.Value');">
                                    <img src="@imgSRC" class="h-[21px] w-[16px]" />
                                    <label for=""
                                           class=" text-sm font-medium flex items-center justify-between w-full text-secondary-100">
                                        @item.Text
                                    </label>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Manage Gallary-->
@Html.Partial("_GallaryManagement", _ClubImgModel)
<!--Manage Gallary-->
<!--Manage Host-->
@Html.Partial("_HostManagement", _HosttData)
<!--Manage Host-->
<!--Manage Event-->
@Html.Partial("_EventManagement", _EventData)
<!--Manage Event-->
<!--Manage Schedule-->
@*@Html.Partial("_ScheduleManagement", _ScheduleData)*@
<!--Manage Schedule-->
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        var toggle = document.getElementById('toggle');
        var setValue = document.getElementById('setvalue');
        var toggleDivTime = document.getElementById('toggleDivTime');
        var hiddenInput = document.querySelector('input[name="date"]');

        toggle.addEventListener('click', function () {
            if (toggleDivTime.style.display === 'none' || toggleDivTime.style.display === '') {
                toggleDivTime.style.display = 'block';
            } else {
                toggleDivTime.style.display = 'none';
            }
        });

        // Add click event listeners to each div inside toggleDivTime
        var divs = document.querySelectorAll('#toggleDivTime > div');
        divs.forEach(function (div) {
            div.addEventListener('click', function () {
                // Remove active class from all divs
                if (!div.classList.contains('disabled')) {
                    divs.forEach(function (d) {
                        d.classList.remove('active');
                    });

                    // Add active class to the clicked div
                    div.classList.add('active');

                    // Extract the text content of the clicked label
                    var labelText = div.querySelector('label').textContent.trim();

                    // Update the text content of the toggle element
                    setValue.textContent = labelText;

                    // Update hidden input value
                    hiddenInput.value = labelText;

                    // Hide toggleDivTime
                    toggleDivTime.style.display = 'none';
                }


            });
        });
    </script>
    <script>
        // Declare a global variable to hold the JSON data
        var clubSchedulesJson = @Html.Raw(ViewBag.ClubSchedulesJson);
    </script>
    <script src="~/Content/assets/js/schedulemanagement.js"></script>
    <script>
        $(document).ready(function () {
            $('#schedule-value-id').val('');
            $('select').select2({
                minimumResultsForSearch: Infinity
            })
            var PopUpRenderValue = '@ViewBag.PopUpRenderValue';
            if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "ManagePlan") {
            var element = document.getElementById('add-new-gallery');
            element.classList.remove('translate-x-full');
            }
            if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "EditEventPlan") {
                var element = document.getElementById('add-new-event');
                element.classList.remove('translate-x-full');
            }
            if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "EditHostPlan") {
                var element = document.getElementById('add-new-host');
                element.classList.remove('translate-x-full');
            }
        });
        function EventEditForm(agentId, eventId) {

            window.location.href = "/ClubManagement/EditEventManagement?AgentId=" + agentId + '&EventId=' + eventId;
        }
        function DeleteEvent(agentId, eventId) {
            window.location.href = "/ClubManagement/DeleteEventManagement?AgentId=" + agentId + '&EventId=' + eventId;
        }
        document.getElementById('CloseId').addEventListener('click',
            function (event) {
                event.preventDefault();
                window.location.reload();
            });
        document.getElementById('CancelId').addEventListener('click',
            function (event) {
                event.preventDefault();
                window.location.reload();
            });
        function EditHost(agentid,hostid) {
            window.location.href = "/ClubManagement/AddClubHost?AgentId=" + agentid + '&HostId=' + hostid;
        }
        document.getElementById('EventClose').addEventListener('click',
            function (event) {
                event.preventDefault();
                $('#add-new-event').hide()
            });
        document.getElementById('EventCancel').addEventListener('click',
            function (event) {
                event.preventDefault();
                $('#add-new-event').hide()
                window.location.reload();
            });
        $('#btn_add_new').click('click', function () {
            $('#add-new-event').show()
        });
        //document.getElementById('HostClose').addEventListener('click',
        //    function (event) {
        //        event.preventDefault();
        //        $('#add-new-host').hide();

        //    });
        document.getElementById('HostCancel').addEventListener('click',
            function (event) {
                event.preventDefault();
                $('#add-new-host').hide();
                window.location.reload();
            });
        document.getElementById('HostClose').addEventListener('click',
            function (event) {
                event.preventDefault();
                $('#add-new-host').hide();
                window.location.reload();
            });
        function Submit() {
            document.getElementById('UploadForm').submit();
        }
        $('#addnew_host_modal').click('click', function () {
            $('#add-new-host').show();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#datepicker").val("@yourDateFromDatabase");
            //$("#datepicker").datepicker($.datepicker.regional["ja"]);
            jQuery(function ($) {
                $.datepicker.regional['ja'] = {
                    closeText: '閉じる',
                    prevText: '&#x3c;前',
                    nextText: '次&#x3e;',
                    currentText: '今日',
                    monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                        '7月', '8月', '9月', '10月', '11月', '12月'],
                    monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                        '7月', '8月', '9月', '10月', '11月', '12月'],
                    dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                    dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                    weekHeader: '週',
                    dateFormat: 'yy/mm/dd',
                    firstDay: 0,
                    isRTL: false,
                    showMonthAfterYear: true,
                    yearSuffix: '年'
                };
                $.datepicker.setDefaults($.datepicker.regional['ja']);
                $("#datepicker").datepicker({
                    minDate: new Date(),
                    maxDate: 15,
                    defaultDate: '@yourDateFromDatabase'
                });
            });
        });
    </script>
    <script type="text/javascript">
        function custom_template(obj) {
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if (data) {
                img_src = data['img_src'];
                template = $("<div style=\"display: flex; gap:6px; align-items: center; justify-content: start;\"><img src=\"" +
                    img_src +
                    "\" style=\"width:16px;height:16px;\"/><p style=\"font-size:14px;text-align:center; color:#000;\">" +
                    text + "</p></div>");
                return template;
            }
        }

        var options = {
            'templateSelection': custom_template,
            'templateResult': custom_template,
        }

        $('#id_select2_schedule_status').select2(options);

        $('.select2-container--default .select2-selection--single').css({
            'height': '44px',
            "display": 'flex',
            "align-items": 'center'
        });
    </script>

    <script>
        function openModal(modalId, scheduleValue) {
            $('#schedule-value-id').val(scheduleValue);
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = "flex";
            }
        }
        function MyScheduleFunction(i) {
            var scheduleValue = document.getElementById("schedule-value-id").value;
            var scheduleValueSplitedData = scheduleValue.split(',');
            let DateValue = scheduleValueSplitedData[0];
            let ScheduleId = scheduleValueSplitedData[1];
            let ClubSchedule = i;
            $.ajax({
                type: 'POST',
                async: true,
                url: '@Url.Action("ManageSchedule", "ScheduleManagement")',
                dataType: 'json',
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    ScheduleId,
                    DateValue,
                    ClubSchedule
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (ex) {
                    window.location.reload();
                }
            });
        }

    </script>

    <script>
        function CancelFunction() {
            location.reload();
        }
    </script>



    <script>
        var _Did = localStorage.getItem("tablink-id_dashboard");
        var name_id = localStorage.getItem("tablink-name_dashboard");
        if (_Did != '' && name_id != '') {
            $(document).ready(function () {
                $('#tab2Button').click();
            });
            localStorage.setItem("tablink-id_dashboard", "");
            localStorage.setItem("tablink-name_dashboard", "");
            localStorage.setItem("tablink-name_dashboard", "");
        }
        $('.tab-link').click('click', function () {
            var id = $(this).attr('id');
            var name = $(this).text().trim();
            localStorage.setItem("tablink-id", id);
            localStorage.setItem("tablink-name", name);
            tabChanged = true;
        });
        $(document).ready(function () {
            var id = localStorage.getItem("tablink-id");
            var name = localStorage.getItem("tablink-name");
            $('.tab-link').each(function (index) {
                var valueId = $(this).attr('id').trim();
                var valueName = $(this).text().trim();
                if (id == valueId && name == valueName) {
                    $(this).click();
                }
            });
        });
        $(document).ready(function () {
            $("#gallery_id").click(function () {
                let table = document.getElementsByTagName("table");
                TableToExcel.convert(table[0], {
                    name: `gallery_info.xlsx`,
                    sheet: {
                        name: 'gallery_info'
                    }
                });
            });
        });
        $(document).ready(function () {
            $("#host_id").click(function () {
                let table = document.getElementsByTagName("table");
                TableToExcel.convert(table[1], {
                    name: `host_info.xlsx`,
                    sheet: {
                        name: 'host_info'
                    }
                });
            });
        });
        $(document).ready(function () {
            $("#event_id").click(function () {
                let table = document.getElementsByTagName("table");
                TableToExcel.convert(table[2], {
                    name: `event_info.xlsx`,
                    sheet: {
                        name: 'event_info'
                    }
                });
            });
        });
    </script>

    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        function isAlphabateOnly(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || (charCode == 32)) {
                return true;
            }
            return false;
        }
    </script>
    <script>
        const fileInput = document.getElementById("file_input_logo");
        const fileNameDisplay = document.getElementById("file_name_display");
        fileInput.addEventListener("change", function () {
            if (fileInput.files.length > 0) {
                fileNameDisplay.textContent = `${fileInput.files[0].name}`;
            } else {
                fileNameDisplay.textContent = "";
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
                const page_size = @ViewBag.PageSize;
                const total_data = @ViewBag.TotalRecords;
                const start_index_val = @ViewBag.StartIndex;
                let URL = "/ClubManagement/Index";
                let search_filter = '@ViewBag.GallerySearchText';
                URL = addQueryParam(URL, 'SearchFilter', search_filter);
                LoadPagination(page_size, total_data, start_index_val, URL);

                const page_size_2 = @ViewBag.PageSize1;
                const total_data_2 = @ViewBag.TotalRecords1;
                const start_index_val_2 = @ViewBag.StartIndex1;
                let URL_2 = "/ClubManagement/Index";
                let search_filter_2 = '@ViewBag.HostSearchText';
                URL_2 = addQueryParam(URL_2, 'SearchFilter', search_filter_2);
                dynamicStartIndexLabel = "StartIndex2";
                dynamicPageSizeLabel = "PageSize2";
                LoadPagination(page_size_2, total_data_2, start_index_val_2, URL_2, 'pagination-id-2', 'prev-btn-2', 'next-btn-2', 'ShowEntries-Id-2', 'Entries-Id-2');

                const page_size_3 = @ViewBag.PageSize2;
                const total_data_3 = @ViewBag.TotalRecords2;
                const start_index_val_3 = @ViewBag.StartIndex2;
                let URL_3 = "/ClubManagement/Index";
                let search_filter_3 = '@ViewBag.SearchText';
                URL_3 = addQueryParam(URL_3, 'SearchFilter', search_filter_3);
                dynamicStartIndexLabel = "StartIndex3";
                dynamicPageSizeLabel = "PageSize3";
                LoadPagination(page_size_3, total_data_3, start_index_val_3, URL_3, 'pagination-id-3', 'prev-btn-3', 'next-btn-3', 'ShowEntries-Id-3', 'Entries-Id-3');
        });
    </script>

}
