@model CRS.CLUB.APPLICATION.Models.RecommendationManagement.RecommendationReqCommonModel
@{
    ViewBag.Title = "HomePageRecommendationReqList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string approved = "Approved";
    string pending = "Pending";
    string rejected = "Rejected";
}
<div class="px-8 py-4 flex flex-col gap-8">
    <!-- booking information  -->
    @Html.AntiForgeryToken()
    <div class="flex justify-between items-center">
        <div>
            <div class="heading-title">
                @CRS.CLUB.APPLICATION.Resources.Resource.Pages
            </div>
            <div class="span-title-light-gray">
                @CRS.CLUB.APPLICATION.Resources.Resource.Page_List_Supporting_Text
            </div>
        </div>
        <div class="flex gap-3">
            <div class="btn btn-primary-default h-[40px] gap-2" onclick="CreateRequestForHomePage()">
                <i class="las la-plus-circle"></i>
                @CRS.CLUB.APPLICATION.Resources.Resource.New_Request
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-8">
        <div class="table-tab">
            <div class="px-[16PX] py-[12PX] flex justify-between entry-export-container">
                <div class="flex items-center select-entries" id="ShowEntries-Id">
                </div>
            </div>
            <div class="relative overflow-x-auto">
                <table class="w-full  text-left club-table">
                    <thead class="club-table-thead">
                        <tr>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    S.N
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Club_Profile
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Location
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Status
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Requested_Date
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Updated_Date
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Host_Name
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Display_Order
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex justify-center">
                                    @CRS.CLUB.APPLICATION.Resources.Resource.Action
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.GetClubHomePageRecommendationReqList)
                            {
                                <tr class="bg-white border-b ">
                                    <td class="p-[12px]">
                                        @item.SNO
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="round-image-text flex gap-[12px] w-max ">
                                            <img class="w-[32px] h-[32px] rounded-full"
                                                 src="@item.ClubLogo" />
                                            <div class="flex justify-between w-full">
                                                <div class="text-image grid flex-none">
                                                    <div class="text-sm font-semibold text-[#101828] ">@item.ClubName</div>
                                                    <div class="platinum ">@item.ClubCategory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        Tokyo
                                    </td>
                                    @if (item.Status == "Approved")
                                    {
                                        <td class="p-[12px]">
                                            <div class="approved">
                                                @approved
                                            </div>
                                        </td>
                                    }
                                    else if (item.Status == "Pending")
                                    {
                                        <td class="p-[12px]">
                                            <div class="pending">
                                                @pending
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="p-[12px]">
                                            <div class="rejected">
                                                @rejected
                                            </div>
                                        </td>
                                    }
                                    <td class="p-[12px]">
                                        <div class="w-max">
                                            @item.RequestedDate
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="w-max">
                                            @item.UpdatedDate
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="w-max">
                                            @item.HostName
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="w-max">
                                            @item.DisplayPageLabel
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="flex gap-2 items-center justify-center">
                                            <i class="fa-solid fa-trash-can text-primary-100 text-[20px] cursor-pointer" onclick="DeleteHomePageRequest('@item.RecommendationHoldId','@item.DisplayId')"></i>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination-club">
                <div class="show-entry" id="Entries-Id">
                </div>
                <div class="flex gap-[12px]">
                    <div class="btn btn-secondary-box-shadow" id="prev-btn">
                        @CRS.CLUB.APPLICATION.Resources.Resource.Previous
                    </div>
                    <div class="flex gap-[12px]" id="pagination-id">
                    </div>
                    <div class="btn btn-secondary-box-shadow" id="next-btn">
                        @CRS.CLUB.APPLICATION.Resources.Resource.Next
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function CreateRequestForHomePage() {
            window.location.href = "/RecommendationManagement/ManageHomePageRecommendationReq?pageid=" + '@ViewBag.PageId';
        }
        function DeleteHomePageRequest(recommendationHoldId, displayId) {
            $.ajax({
                type: 'POST',
                async: true,
                url: "/RecommendationManagement/DeleteHomePageRequest?displayid=" + displayId + "&recommendationholdid=" + recommendationHoldId,
                dataType: 'json',
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                },
                success: function (responseData) {
                    window.location.reload();
                },
                error: function (ex) {

                }
            });
        }
    </script>
    <script>
         document.addEventListener('DOMContentLoaded', function () {
                 const page_size = @ViewBag.PageSize;
                 const total_data = @ViewBag.TotalData;
                 const start_index_val = @ViewBag.StartIndex;
                 let URL = "/RecommendationManagement/HomePageRecommendationReqList";
                 let user_status = $('#large').val();
                 let mobile_number = $('#MobileNumber').val();
                 let from_date = $('#FromDate').val();
                 let to_date = $('#ToDate').val();
                 let search_filter = $('#default-search').val();

                 URL = addQueryParam(URL, 'FromDate', from_date);
                 URL = addQueryParam(URL, 'ToDate', to_date);
                 URL = addQueryParam(URL, 'Status', user_status);
                 URL = addQueryParam(URL, 'MobileNumber', mobile_number);
                 URL = addQueryParam(URL, 'SearchFilter', search_filter);
                 LoadPagination(page_size, total_data, start_index_val, URL);
             });
    </script>
}

